{% extends 'base.html'  %}

{% block content %}
<div clas="container">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <span>{{ message }}</span>
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif%}
    {% endwith %}
</div>

{% if Company_Name %}
<center><div class="card text-dark bg-light mb-3" style="width: 65rem">
    <div class="card-header" style="background-color:CadetBlue; border: .5px solid Black">

<br/>
        <center><div class="card text-dark bg-light mb-3" style="width: 40rem">
            <div class="card-header" style="background-color:Gainsboro; border: .5px solid Black">
                <br/>
                <center><h1 class="rounded-3">{{ Company_Name }} W&D Has Been Submitted!</h1></center>
        <br/>
        <div class="d-grid gap-2 col-6 mx-auto">
            <a href="{{url_for('add_WD')}}" class="btn btn-outline-primary btn-lg" tabindex="-1" role="button" aria-disabled="true">Back To W&Ds</a>
            <br/>
        </div>
                </div>
        </div></center>
    </div>
</div></center>
{% else %}
<center><div class="card text-dark bg-light mb-3" style="width: 65rem">
    <div class="card-header" style="background-color:CadetBlue; border: .5px solid Black">
    <center><h1 style="border: .5px solid Black; padding: 12px; background-color: White;">W&Ds - Warehouse</h1></center>
    </div>
  <div class="card-body"style="border: .5px solid Black">
      <br/>
            <form class="row g-3" target="blank" action="" method ="POST">
                {{ form.hidden_tag() }}

                <strong><div class="row g-3" style="border: .5px solid Black; padding: 10px;  background-color: Gainsboro">
                 <div class="col-md-6" style="border: .5px solid Black; padding: 10px">
                {{ form.Company_Name.label(class="ol-sm-2 col-form-label col-form-label-lg") }}
                {{ form.Company_Name(style="text-align: center",class="form-control form-control-lg") }}
                </div>
                <div class="col-md-6" style="border: .5px solid Black; padding: 10px">
                {{ form.SO.label(class="ol-sm-2 col-form-label col-form-label-lg") }}
                {{ form.SO(style="text-align: center",class="form-control form-control-lg") }}
                </div>
                </div></strong>
                <strong><div class="row g-3" style="border: .5px solid Black; padding: 10px;">
                 <div class="col-md-6" style="border: .5px solid Black; padding: 10px">
                {{ form.Pallet.label(class="ol-sm-2 col-form-label col-form-label-lg") }}
                {{ form.Pallet(style="text-align: center",class="form-control form-control-lg") }}
                </div>
                <div class="col-md-6" style="border: .5px solid Black; padding: 10px">
                {{ form.Shipping.label(class="ol-sm-2 col-form-label col-form-label-lg") }}
                {{ form.Shipping(style="text-align: center",class="form-control form-control-lg") }}
                </div>
                </div></strong>
                <strong><div class="row g-3" style="border: .5px solid Black; padding: 10px;  background-color: Gainsboro">
                 <div class="col-md-6" style="border: .5px solid Black; padding: 10px">
                {{ form.Length.label(class="ol-sm-2 col-form-label col-form-label-lg") }}
                {{ form.Length(style="text-align: center",class="form-control form-control-lg") }}
                </div>
                <div class="col-md-6" style="border: .5px solid Black; padding: 10px">
                {{ form.Width.label(class="ol-sm-2 col-form-label col-form-label-lg") }}
                {{ form.Width(style="text-align: center",class="form-control form-control-lg") }}
                </div>
                </div></strong>
                <strong><div class="row g-3" style="border: .5px solid Black; padding: 10px;">
                 <div class="col-md-6" style="border: .5px solid Black; padding: 10px">
                {{ form.Height.label(class="ol-sm-2 col-form-label col-form-label-lg") }}
                {{ form.Height(style="text-align: center",class="form-control form-control-lg") }}
                </div>
                <div class="col-md-6" style="border: .5px solid Black; padding: 10px">
                {{ form.Weight.label(class="ol-sm-2 col-form-label col-form-label-lg") }}
                {{ form.Weight(style="text-align: center",class="form-control form-control-lg") }}
                </div>
                </div></strong>

                <strong><div class="row g-3" style="border: .5px solid Black; padding: 10px;  background-color: Gainsboro">
                 <div class="col-md-6" style="border: .5px solid Black; padding: 10px">
                {{ form.Total_Weight.label(class="ol-sm-2 col-form-label col-form-label-lg") }}
                {{ form.Total_Weight(style="text-align: center",class="form-control form-control-lg") }}
                </div>
                <div class="col-md-6" style="border: .5px solid Black; padding: 10px">
                {{ form.Status.label(class="ol-sm-2 col-form-label col-form-label-lg") }}
                {{ form.Status(class="form-select form-select-lg") }}
                </div>
                </div></strong>
                <strong><div style="border: .5px solid Black; padding: 10px;">
                    <div class="col-md-6" style="border: .5px solid Black; padding: 10px">
                {{ form.date.label(class="ol-sm-2 col-form-label col-form-label-lg") }}
                {{ form.date(class="form-select form-select-lg") }}
                    </div>
                </div></strong>
                <br/>
                <strong><div class="d-grid gap-2 col-6 mx-auto ">
                {{ form.Submit(class="btn btn-outline-primary btn-lg")}}
                </div></strong>
            </form>
    </div>
</div></center>

<br/><br/><br/>
{% for our_wd in our_wds %}
    {% if our_wd.Status == 'Not Complete' %}
<center><div class="card">
<center><div class="card-body"style="border: .5px solid Black; background-color: White; width: 85rem">

    <center><table class="table table-hover table-bordered border-dark">
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td class="table-secondary" style="text-align: center;"><a href="{{url_for('WD_update', id=our_wd.id)}}">ID: {{our_wd.id }}</a></td>
                <td class="table-secondary" style="text-align: center;">{{our_wd.Company_Name }}</td>
                <td class="table-success" style="text-align: center;">SO- {{our_wd.SO }}</td>
                <td class="table-success" style="text-align: center;">{{ our_wd.Shipping }}</td>
                <td class="table-success" style="text-align: center;"></td>
                <td class="table-success" style="text-align: center;">Date: {{ our_wd.date }}</td>
                <td class="table-success" style="text-align: center;"><a href="{{url_for('delete', id=our_wd.id)}}" class="btn btn-outline-danger btn-sm" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete</a></td>

            </tr>
            <tr>
                <th scope="row">2</th>
                <td class="table-secondary" style="text-align: center;">Pallet</td>
                <td class="table-secondary" style="text-align: center;">Length</td>
                <td class="table-secondary" style="text-align: center;">Width</td>
                <td class="table-secondary" style="text-align: center;">Height</td>
                <td class="table-secondary" style="text-align: center;">Weight</td>
                <td class="table-secondary" style="text-align: center;">Total Weight</td>
                <td class="table-secondary" style="text-align: center;">Status</td>
            </tr>
             <tr>
                <th scope="row">3</th>
                <td class="table-secondary" style="text-align: center;">{{our_wd.Pallet }}</td>
                <td style="text-align: center;">{{our_wd.Length }}</td>
                <td style="text-align: center;">{{our_wd.Width }}</td>
                 {% if our_wd.Shipping == 'Domestic' and our_wd.Height > 72 or our_wd.Shipping == 'International' and our_wd.Height > 90 %}
                     <td class="table-danger" style="text-align: center;">{{our_wd.Height }}</td>
                 {% else %}
                    <td style="text-align: center;">{{our_wd.Height }}</td>
                 {% endif %}
                <td style="text-align: center;">{{our_wd.Weight }}</td>
                 <td style="text-align: center;">{{our_wd.Total_Weight}}</td>
                 <td style="text-align: center;"><a href="{{url_for('WD_update', id=our_wd.id)}}">{{our_wd.Status }}</a></td>
             </tr>
        </tbody>
    </table></center>

    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="deleteModalLabel">Delete W&D</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            Are you sure you want to delete this W&D?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <right><a href="{{url_for('delete', id=our_wd.id)}}" class="btn btn-outline-danger me-md-3 btn-sm">Delete</a></right>
          </div>

        </div>
      </div>
    </div>
</div></center>
</div></center>
<br/>
    {% else %}
{% endif %}
{% endfor %}

{% endif %}

{% endblock %}