{% extends 'base.html'  %}

{% block content %}
<center><div class="card text-dark bg-light mb-3" style="width: 40rem">
    <div class="card-header" style="background-color:CadetBlue; border: .5px solid Black">
    <center><h1>W&Ds - Warehouse</h1></center>
    </div>
  <div class="card-body"style="border: .5px solid Black">
      <br/>
            <form target="blank" action="" method ="POST">
                {{ form.hidden_tag() }}

                <strong><div style="border: .5px solid Black; padding: 10px; background-color: Gainsboro">
                {{ form.Company_Name.label(class="ol-sm-2 col-form-label col-form-label-lg") }}
                {{ form.Company_Name(class="form-control form-control-lg") }}
                </div></strong><strong><div style="border: .5px solid Black; padding: 10px;">
                {{ form.SO.label(class="ol-sm-2 col-form-label col-form-label-lg") }}
                {{ form.SO(class="form-control form-control-lg") }}
                </div></strong>
                <strong><div style="border: .5px solid Black; padding: 10px; background-color: Gainsboro">
                {{ form.Pallet.label(class="ol-sm-2 col-form-label col-form-label-lg") }}
                {{ form.Pallet(class="form-control form-control-lg") }}
                </div></strong>
                <center><strong><div style="border: .5px solid Black; padding: 10px;o">
                {{ form.Length.label(class="ol-sm-2 col-form-label col-form-label-lg") }}
                {{ form.Length(class="form-control form-control-lg") }}
                </div></strong></center>
                <center><strong><div style="border: .5px solid Black; padding: 10px; background-color: Gainsboro">
                {{ form.Width.label(class="ol-sm-2 col-form-label col-form-label-lg") }}
                {{ form.Width(class="form-control form-control-lg") }}
                </div></strong></center>
                <center><strong><div style="border: .5px solid Black; padding: 10px;">
                {{ form.Height.label(class="ol-sm-2 col-form-label col-form-label-lg") }}
                {{ form.Height(class="form-control form-control-lg") }}
                </div></strong></center>
                <center><strong><div style="border: .5px solid Black; padding: 10px; background-color: Gainsboro">
                {{ form.Weight.label(class="ol-sm-2 col-form-label col-form-label-lg") }}
                {{ form.Weight(class="form-control form-control-lg") }}
                </div></strong></center>
                <center><strong><div style="border: .5px solid Black; padding: 10px;">
                {{ form.Status.label(class="ol-sm-2 col-form-label col-form-label-lg") }}
                {{ form.Status(class="form-select form-select-lg") }}
                </div></strong></center>
                <br/>
                <strong><div class="d-grid gap-2 col-6 mx-auto ">
                {{ form.Submit(class="btn btn-outline-primary btn-lg")}}
                </div></strong>
            </form>
    </div>
</div></center>



{% endblock %}