{% extends 'base.html'  %}

{% block content %}
<div clas="container">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <span>{{ message }}</span>
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif%}
    {% endwith %}
</div>

{% if name %}
<div class="card" xmlns="http://www.w3.org/1999/html">
    <div class="card-body"style="border: .5px solid Black">
    <h1>User Added!</h1><br/>
    <a class="btn btn-primary btn-lg" style="padding: 10px; margin: 10px" href="login" role="button">Click To Login</a>
    </div>
</div>
    <br/><br/>


{% else %}
<div class="card">
    <div class="card-body"style="border: .5px solid Black">
        <h1>Register:</h1>
        <br/>
        <form method="POST">
            {{ form.hidden_tag() }}

            {{ form.name.label(
            class="form-label") }}

            {{ form.name(
            class="form-control") }}

            {{ form.username.label(
            class="form-label") }}</br>

           (Your User Name is the first letter of your first name with your last name. #Example Ben Barr would = Bbarr )

            {{ form.username(
            class="form-control") }}

            {{ form.email.label(
            class="form-label") }}

            {{ form.email(
            class="form-control") }}

            {{ form.department.label(
            class="form-label") }}<br/>

            {{ form.department(
            class="form-select") }}

            {{ form.password_hash.label(
            class="form-label") }}

            {{ form.password_hash(
            class="form-control") }}

            {{ form.password_hash2.label(
            class="form-label") }}

            {{ form.password_hash2(
            class="form-control") }}

            <br/>

            {{ form.submit(class="btn
            btn-primary") }}
            <br/>

        </form>

        </div>
</div>

{% endif %}

{% endblock %}