{% extends 'base.html'  %}

{% block content %}


<strong><center><div class="card text-center"style="border: .5px solid Black; background-color: CadetBlue; width: 85rem">
  <div class="card-body" style="border: .5px solid Black;">
    <h1 style="border: .5px solid Black; padding: 12px; background-color: White;">Completed Weights and Dimms</h1>
  </div>
</div></center></strong>
<br/><br/>
{% for WD in WDs %}
    {% if WD.Status == 'Complete' %}
<center><div class="card">
<center><div class="card-body"style="border: .5px solid Black; background-color: White; width: 85rem">

    <center><table class="table table-hover table-bordered border-dark" border="3">
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td class="table-secondary" style="text-align: center;" contenteditable='true'><a href="{{url_for('WD_update', id=WD.id)}}">ID: {{WD.id }}</a></td>
                <td class="table-secondary" style="text-align: center;" contenteditable='true'>{{WD.Company_Name }}</td>
                <td class="table-success" style="text-align: center;" contenteditable='true'>SO- {{WD.SO }}</td>
                <td class="table-success" style="text-align: center;" contenteditable='true'>{{ WD.Shipping }}</td>
                <td class="table-success" style="text-align: center;" contenteditable='true'></td>
                <td class="table-success" style="text-align: center;" contenteditable='true'>Date: {{ WD.date }}</td>
                <td class="table-success" style="text-align: center;"><a href="{{url_for('delete', id=WD.id)}}" class="btn btn-outline-danger btn-sm">Delete</a></td>

            </tr>
            <tr>
                <th scope="row">2</th>
                <td class="table-secondary" style="text-align: center;" contenteditable='true'>Pallet</td>
                <td class="table-secondary" style="text-align: center;" contenteditable='true'>Length</td>
                <td class="table-secondary" style="text-align: center;" contenteditable='true'>Width</td>
                <td class="table-secondary" style="text-align: center;" contenteditable='true'>Height</td>
                <td class="table-secondary" style="text-align: center;" contenteditable='true'>Weight</td>
                <td class="table-secondary" style="text-align: center;" contenteditable='true'>Total Weight</td>
                <td class="table-secondary" style="text-align: center;" contenteditable='true'>Status</td>
            </tr>
             <tr>
                <th scope="row">3</th>
                <td class="table-secondary" style="text-align: center;" contenteditable='true'>{{WD.Pallet }}</td>
                <td style="text-align: center;" contenteditable='true'>{{WD.Length }}</td>
                <td style="text-align: center;" contenteditable='true'>{{WD.Width }}</td>
                <td style="text-align: center;" contenteditable='true'>{{WD.Height }}</td>
                <td style="text-align: center;" contenteditable='true'>{{WD.Weight }}</td>
                 <td style="text-align: center;" contenteditable='true'>{{WD.Total_Weight}}</td>
                 <td style="text-align: center;" contenteditable='true'><a href="{{url_for('WD_update', id=WD.id)}}">{{WD.Status }}</a></td>
             </tr>
        </tbody>
    </table></center>
</div></center>
</div></center>
<br/>
    {% else %}

{% endif %}
{% endfor %}

{% endblock %}