{% extends 'base.html'  %}

{% block content %}


<strong><center><div class="card text-center"style="border: .5px solid Black; background-color: CadetBlue; width: 85rem">
  <div class="card-body" style="border: .5px solid Black;">
    <h1 style="border: .5px solid Black; padding: 12px; background-color: White;">Completed Weights and Dimms</h1>
  </div>
</div></center></strong>
<br/><br/>

{% for WD in WDs %}
    {% if WD.Status == 'Complete' %}


<br/>

<center><div id="bar" class="card-body"style="border: .5px solid Black; background-color: White; width: 85rem">



    <table id="testTable" class="table table-hover table-bordered border-dark" border="3">
        <tbody>

            <tr>

                <td colspan="2"  class="table-secondary table-bordered border-dark" border="3" style="text-align: center; background-color:Gainsboro;" contenteditable='false'>{{WD.Company_Name }}</td>
                <td class="table-success table-bordered border-dark" border="3" style="text-align: center; background-color:CadetBlue;" contenteditable='false'>SO - {{WD.SO }}</td>
                <td class="table-success table-bordered border-dark" border="3" style="text-align: center; background-color:CadetBlue;" contenteditable='false'>{{ WD.Shipping }}</td>
                <td class="table-success table-bordered border-dark" border="3" style="text-align: center; background-color:CadetBlue;" contenteditable='false'></td>
                <td class="table-success table-bordered border-dark" border="3" style="text-align: center; background-color:CadetBlue;" contenteditable='false'>Date: {{ WD.date }}</td>
                <td class="table-success table-bordered border-dark" border="3" style="text-align: center; background-color:CadetBlue;"></td>

            </tr>
            <tr>

                <td class="table-secondary table-bordered border-dark" border="3" style="text-align: center; background-color:Gainsboro;" contenteditable='false'>Pallet</td>
                <td class="table-secondary table-bordered border-dark" border="3" style="text-align: center; background-color:Gainsboro;" contenteditable='false'>Length</td>
                <td class="table-secondary table-bordered border-dark" border="3" style="text-align: center; background-color:Gainsboro;" contenteditable='false'>Width</td>
                <td class="table-secondary table-bordered border-dark" border="3" style="text-align: center; background-color:Gainsboro;" contenteditable='false'>Height</td>
                <td class="table-secondary table-bordered border-dark" border="3" style="text-align: center; background-color:Gainsboro;" contenteditable='false'>Weight</td>
                <td class="table-secondary table-bordered border-dark" border="3" style="text-align: center; background-color:Gainsboro;" contenteditable='false'>Total Weight</td>
                <td class="table-secondary table-bordered border-dark" border="3" style="text-align: center; background-color:Gainsboro;" contenteditable='false'>Status</td>
            </tr>
             <tr>

                <td class="table-secondary table-bordered border-dark" border="3" style="text-align: center;" contenteditable='false'>{{WD.Pallet }}</td>
                <td style="text-align: center;" contenteditable='false'>{{WD.Length }}</td>
                <td style="text-align: center;" contenteditable='false'>{{WD.Width }}</td>
                <td style="text-align: center;" contenteditable='false'>{{WD.Height }}</td>
                <td style="text-align: center;" contenteditable='false'>{{WD.Weight }}</td>
                 <td style="text-align: center;" contenteditable='false'>{{WD.Total_Weight}}</td>
                 <td style="text-align: center;" contenteditable='false'><a href="{{url_for('WD_update', id=WD.id)}}">{{WD.Status }}</a></td>
             </tr>



        </tbody>

    </table>

    <div class="container">
  <!-- Stack the columns on mobile by making one full-width and the other half-width -->
          <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-4 offset-md-4" style="padding-left: 280px;">
                <right><a href="{{url_for('delete', id=WD.id)}}" class="btn btn-outline-danger me-md-3 btn-sm">Delete</a></right>

            </div>
          </div>
    </div>
</div></center>

<br/>


    {% else %}


{% endif %}


{% endfor %}


{% endblock %}





