{% extends 'base.html'  %}

{% block content %}
<center><div class="card text-dark bg-light mb-3" style="width: 40rem">
    <div class="card-header" style="background-color:CadetBlue; border: .5px solid Black">
    <center><h1>DATA DESTRUCTION Placard</h1></center>
    </div>
  <div class="card-body"style="border: .5px solid Black">
      <br/>
            <form target="blank" action="data_destructionPrint" method ="POST">
                {{ form.hidden_tag() }}
                <strong><div style="border: .5px solid Black; padding: 10px; background-color: Gainsboro">
                {{ form.JobNumber.label(class="ol-sm-2 col-form-label col-form-label-lg") }}
                {{ form.JobNumber(class="form-control form-control-lg") }}
                </div></strong>
                <strong><div style="border: .5px solid Black; padding: 10px;">
                {{ form.Data.label(class="ol-sm-2 col-form-label col-form-label-lg") }}
                {{ form.Data(class="form-select form-select-lg") }}
                </div></strong>
                <strong><div style="border: .5px solid Black; padding: 10px; background-color: Gainsboro">
                {{ form.Evaluated.label(class="ol-sm-2 col-form-label col-form-label-lg") }}
                {{ form.Evaluated(class="form-select form-select-lg") }}
                </div></strong>
                    <div div class="col-lg-7">
                {{ form.Date.label(class="ol-sm-2 col-form-label col-form-label-lg") }}
                {{ form.Date(class="form-select form-select-lg") }}
                    </div>

               <br><br/>
                <strong><div class="d-grid gap-2 col-6 mx-auto ">
                {{ form.Submit(class="btn btn-outline-primary btn-lg")}}
                    </div></strong>
            </form>
    </div>
</div></center>


{% endblock %}