
<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
  <head>
      <style>
        body
        {
        background-image:url({{url_for('static',filename='images/background.jpg')}})
        }
        </style>

    <!-- Required meta tags -->

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <title>AmpleTech Refresh</title>
  </head>
  <body>

    <div>
        <center><div id="content" class="card p-3 mb-2 bg-transparent text-dark shadow lg p-3 mb-5 bg-body rounded" style="width: 50rem;">
                <center><img src="{{url_for('static', filename='images/Converted-PNG (2)-26.png')}}"width="550" height="500"></center>
                <center><strong><h1 style="color: White; font-family:Arial Rounded MT; font-size: 4em; font-weight: bold;">GLOBAL IT ASSETS</h1></strong></center>
                <center><h1 style="color: White; font-family:Arial Rounded MT; font-size: 4em; font-weight: bold;">DISPOSITION</h1></center>
                <center><h1 style="color: White; font-family:Arial Rounded MT; font-size: 4em; font-weight: bold;">SOLUTIONS</h1></center>
        </div></center>
   </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
    -->
  </body>
</html>








