{% extends 'base.html'  %}

{% block content %}
<center><div class="card text-dark bg-light mb-3" style="width: 75rem">
    <div class="card-header" style="background-color:CadetBlue; border: .5px solid Black">
    <center><h1>Inventory Recycling - Placard</h1></center>
    </div>
  <div class="card-body"style="border: .5px solid Black">
      <br/>
            <form class="row g-3"  target="blank" action="IRPrint" method ="POST">
                {{ form.hidden_tag() }}
                <strong><div class="row g-3" style="border: .5px solid Black; padding: 10px; background-color: Gainsboro">
                 <!--<div class="col-md-6" style="border: .5px solid Black; padding: 10px;">
                {{ form.JobNumber.label(class="ol-sm-2 col-form-label col-form-label-lg") }}
                {{ form.JobNumber(class="form-control form-control-lg") }}
                </div>-->

                {{ form.BatchNumber.label(class="ol-sm-2 col-form-label col-form-label-lg") }}
                {{ form.BatchNumber(class="form-control form-control-lg") }}

                </div></strong>
                <strong><div style="border: .5px solid Black; padding: 10px; background-color: Gainsboro">
                {{ form.Commodity.label(class="ol-sm-2 col-form-label col-form-label-lg") }}
                {{ form.Commodity(class="form-control form-control-lg") }}
                </div></strong>

<div class="accordion accordion-flush" id="accordionFlushExample">
    <div class="accordion-item" style="border: .5px solid Black">
    <h2 class="accordion-header" id="flush-headingOne"></h2>
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne"; style="background-color: LightBlue">
        <h4>Commodity Pictures</h4>
      </button>
    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">

          <table class="table">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Commodity</th>
      <th scope="col">Image</th>
      <th scope="col">Commodity</th>
       <th scope="col">Image</th>
        <th scope="col">Commodity</th>
       <th scope="col">Image</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"></th>
      <td>Keyboard and Mice</td>
      <td><img src="{{url_for('static', filename='images/small.png')}}"width="150" height="150" class="rounded mx-auto d-block" alt="PIC"></td>
      <td>Docking Stations above cutline</td>
      <td><img src="{{url_for('static', filename='images/small.png')}}"width="150" height="150" class="rounded mx-auto d-block" alt="PIC"></td>
        <td>Docking Stations below cutline</td>
      <td><img src="{{url_for('static', filename='images/small.png')}}"width="150" height="150" class="rounded mx-auto d-block" alt="PIC"></td>
    </tr>
    <tr>
      <th scope="row"></th>
      <td>Mixed Wires</td>
      <td><img src="{{url_for('static', filename='images/small.png')}}"width="150" height="150" class="rounded mx-auto d-block" alt="PIC"></td>
      <td>Adapters</td>
      <td><img src="{{url_for('static', filename='images/small.png')}}"width="150" height="150" class="rounded mx-auto d-block" alt="PIC"></td>
        <td>Batteries</td>
      <td><img src="{{url_for('static', filename='images/small.png')}}"width="150" height="150" class="rounded mx-auto d-block" alt="PIC"></td>
    </tr>
    <tr>
      <th scope="row"></th>
      <td>Ram</td>
      <td><img src="{{url_for('static', filename='images/small.png')}}"width="150" height="150" class="rounded mx-auto d-block" alt="PIC"></td>
      <td>Networking</td>
      <td><img src="{{url_for('static', filename='images/small.png')}}"width="150" height="150" class="rounded mx-auto d-block" alt="PIC"></td>
        <td>Headsets</td>
      <td><img src="{{url_for('static', filename='images/small.png')}}"width="150" height="150" class="rounded mx-auto d-block" alt="PIC"></td>
    </tr>
  <tr>
      <th scope="row"></th>
      <td>CAT 5</td>
      <td><img src="{{url_for('static', filename='images/small.png')}}"width="150" height="150" class="rounded mx-auto d-block" alt="PIC"></td>
      <td>LCDs</td>
      <td><img src="{{url_for('static', filename='images/small.png')}}"width="150" height="150" class="rounded mx-auto d-block" alt="PIC"></td>
        <td>Green board</td>
      <td><img src="{{url_for('static', filename='images/small.png')}}"width="150" height="150" class="rounded mx-auto d-block" alt="PIC"></td>
    </tr>
  <tr>
      <th scope="row"></th>
      <td>IP Phone</td>
      <td><img src="{{url_for('static', filename='images/small.png')}}"width="150" height="150" class="rounded mx-auto d-block" alt="PIC"></td>
      <td>Desktops</td>
      <td><img src="{{url_for('static', filename='images/small.png')}}"width="150" height="150" class="rounded mx-auto d-block" alt="PIC"></td>
        <td>Laptops</td>
      <td><img src="{{url_for('static', filename='images/small.png')}}"width="150" height="150" class="rounded mx-auto d-block" alt="PIC"></td>
    </tr>
  <tr>
      <th scope="row"></th>
      <td>Scrap servers</td>
      <td><img src="{{url_for('static', filename='images/small.png')}}"width="150" height="150" class="rounded mx-auto d-block" alt="PIC"></td>
      <td>UPS/APC's</td>
      <td><img src="{{url_for('static', filename='images/small.png')}}"width="150" height="150" class="rounded mx-auto d-block" alt="PIC"></td>
        <td>Projectors</td>
      <td><img src="{{url_for('static', filename='images/small.png')}}"width="150" height="150" class="rounded mx-auto d-block" alt="PIC"></td>
    </tr>
  <tr>
      <th scope="row"></th>
      <td>Media Players</td>
      <td><img src="{{url_for('static', filename='images/small.png')}}"width="150" height="150" class="rounded mx-auto d-block" alt="PIC"></td>
      <td>Aluminum</td>
      <td><img src="{{url_for('static', filename='images/small.png')}}"width="150" height="150" class="rounded mx-auto d-block" alt="PIC"></td>
        <td>Power Strips</td>
      <td><img src="{{url_for('static', filename='images/small.png')}}"width="150" height="150" class="rounded mx-auto d-block" alt="PIC"></td>
    </tr>
  <tr>
      <th scope="row"></th>
      <td>Fans</td>
      <td><img src="{{url_for('static', filename='images/small.png')}}"width="150" height="150" class="rounded mx-auto d-block" alt="PIC"></td>
      <td>Speakers</td>
      <td><img src="{{url_for('static', filename='images/small.png')}}"width="150" height="150" class="rounded mx-auto d-block" alt="PIC"></td>
        <td>Printers & Scanners</td>
      <td><img src="{{url_for('static', filename='images/small.png')}}"width="150" height="150" class="rounded mx-auto d-block" alt="PIC"></td>
    </tr>
  <tr>
      <th scope="row"></th>
      <td>Copper</td>
      <td><img src="{{url_for('static', filename='images/small.png')}}"width="150" height="150" class="rounded mx-auto d-block" alt="PIC"></td>
      <td>Plastic</td>
      <td><img src="{{url_for('static', filename='images/small.png')}}"width="150" height="150" class="rounded mx-auto d-block" alt="PIC"></td>
        <td>Steel</td>
      <td><img src="{{url_for('static', filename='images/small.png')}}"width="150" height="150" class="rounded mx-auto d-block" alt="PIC"></td>
    </tr>
  <tr>
      <th scope="row"></th>
      <td>Cardboard</td>
      <td><img src="{{url_for('static', filename='images/small.png')}}"width="150" height="150" class="rounded mx-auto d-block" alt="PIC"></td>
      <td>Trash</td>
      <td><img src="{{url_for('static', filename='images/small.png')}}"width="150" height="150" class="rounded mx-auto d-block" alt="PIC"></td>
    </tr>
  </tbody>
</table>
      </div>
    </div>
    </div>
</div>




                <center><strong><div style="border: .5px solid Black; padding: 10px">
                {{ form.Dimms.label(class="ol-sm-2 col-form-label col-form-label-lg") }}
                    </br>
                <div class="row g-3" style="padding: 10px">
                <div class="col-sm">
                {{ form.Dimms(class="form-control form-control-lg") }}
                </div>
                <div class="col-sm">
                {{ form.Dimms2(class="form-control form-control-lg") }}
                </div>
                <div class="col-sm">
                {{ form.Dimms3(class="form-control form-control-lg") }}
                </div>
                </div>
                    </div></strong></center>
                <strong><div class="row g-3" style="border: .5px solid Black; padding: 10px; background-color: Gainsboro">
                 <div class="col-md-6" style="border: .5px solid Black; padding: 10px;">
                {{ form.Data.label(class="ol-sm-2 col-form-label col-form-label-lg") }}
                {{ form.Data(class="form-select form-select-lg") }}
                </div>
                 <div class="col-md-6" style="border: .5px solid Black; padding: 10px">
                {{ form.NetWeight.label(class="ol-sm-2 col-form-label col-form-label-lg") }}
                {{ form.NetWeight(class="form-control form-control-lg") }}
                </div>
                </div></strong>
                <strong><div class="row g-3" style="border: .5px solid Black; padding: 10px">
                 <div class="col-md-6" style="border: .5px solid Black; padding: 10px;">
                {{ form.GrossWeight.label(class="ol-sm-2 col-form-label col-form-label-lg") }}
                {{ form.GrossWeight(class="form-control form-control-lg") }}
                </div>
                 <div class="col-md-6" style="border: .5px solid Black; padding: 10px">
                {{ form.TareWeight.label(class="ol-sm-2 col-form-label col-form-label-lg") }}
                {{ form.TareWeight(class="form-control form-control-lg") }}
                </div>
                </div></strong>
                <strong><div class="row g-3" style="border: .5px solid Black; padding: 10px; background-color: Gainsboro">
                 <div class="col-md-6" style="border: .5px solid Black; padding: 10px;">
                {{ form.Date.label(class="ol-sm-2 col-form-label col-form-label-lg") }}
                {{ form.Date(class="form-select form-select-lg") }}
                </div>
                 <div class="col-md-6" style="border: .5px solid Black; padding: 10px">
                {{ form.Evaluated.label(class="ol-sm-2 col-form-label col-form-label-lg") }}
                {{ form.Evaluated(class="form-select form-select-lg") }}
                <</div>
                </div></strong>
                <br/>
                <strong><div class="d-grid gap-2 col-6 mx-auto ">
                {{ form.Submit(class="btn btn-primary btn-lg")}}
                </div></strong>
            </form>
    </div>
</div></center>


{% endblock %}