<br/>


<br/>
<center><h1 style="border: 2px solid black; font-size:120; margin : 0">FOR SALE</h1></center>
<center><h1 style="border: 2px solid black; font-size:120; margin : 0">LOT #:{{LotNumber}}</h1></center>
<center><h1 style="border: 2px solid black; font-size:120; margin : 0">{{Commodity|upper}}</h1></center>
<center><h1 style="border: 2px solid black; font-size:100; margin : 0">QTY: {{QTY }}</h1></center>
<center><h1 style="border: 2px solid black; font-size:50; margin : 0">DATA - {{Data }}</h1></center>
<center><h1 style="border: 2px solid black; font-size:50; margin : 0">EVALUATED</h1></center>
<center><h1 style="border: 2px solid black; font-size:50; margin : 0">{{Date }}</h1></center>

