<br/>

<center><h1 style="font-size:70:"></h1></center>
<br/>
<center><h1 style="font-size:70:"></h1></center>
<br/>
<center><h1 style="font-size:70:"></h1></center>
<br/>
<center><h1 style="border: 2px solid black; font-size:70; margin : 0">INVENTORY</h1></center>
<center><h1 style="border: 2px solid black; font-size:70; margin : 0">PO - {{PoNumber}}</h1></center>
<center><h1 style="border: 2px solid black; font-size:70; margin : 0">{{Commodity|upper}}</h1></center>
<center><h1 style="border: 2px solid black; font-size:70; margin : 0">{{Data }} DATA</h1></center>
<center><h1 style="border: 2px solid black; font-size:70; margin : 0">EVALUATED</h1></center>

