<center><h1 style="border: 2px solid black; font-size:70; margin : 0">PICK</h1></center>
<center><h1 style="border: 2px solid black; font-size:70; margin : 0">SO NUMBER - {{SO}}</h1></center>
<center><h1 style="border: 2px solid black; font-size:70; margin : 0">DATA - {{Data}}</h1></center>
{% if Evaluated == "YES" %}
<center><h1 style="border: 2px solid black; font-size:70; margin : 0">EVALUATED</h1></center>
{% else %}
<center><h1 style="border: 2px solid black; font-size:70; margin : 0">NOT EVALUATED</h1></center>
{% endif %}
<center><h1 style="border: 2px solid black; font-size:70; margin : 0">{{Date}}</h1></center>
