{% extends 'base.html'  %}

{% block content %}
<center><div class="card text-dark bg-light mb-3" style="width: 40rem">
    <div class="card-header" style="background-color:CadetBlue; border: .5px solid Black">
    <center><h1>Post Audit - Placard</h1></center>
    </div>
  <div class="card-body"style="border: .5px solid Black">
      <br/>
            <form target="blank" action="PADPrint" method ="POST">
                {{ form.hidden_tag() }}
                <strong><div style="border: .5px solid Black; padding: 10px; background-color: Gainsboro">
                {{ form.JobNumber.label(class="ol-sm-2 col-form-label col-form-label-lg") }}
                {{ form.JobNumber(class="form-control form-control-lg") }}
                </div></strong>
                <strong><div style="border: .5px solid Black; padding: 10px">
                {{ form.LotNumber.label(class="ol-sm-2 col-form-label col-form-label-lg") }}
                {{ form.LotNumber(class="form-control form-control-lg") }}
                </div></strong>
                <strong><div style="border: .5px solid Black; padding: 10px; background-color: Gainsboro">
                {{ form.Commodity.label(class="ol-sm-2 col-form-label col-form-label-lg") }}
                {{ form.Commodity(class="form-control form-control-lg") }}
                </div></strong>
                <strong><div style="border: .5px solid Black; padding: 10px">
                {{ form.QTY.label(class="ol-sm-2 col-form-label col-form-label-lg") }}
                {{ form.QTY(class="form-control form-control-lg") }}
                </div></strong>
                <center><strong><div style="border: .5px solid Black; padding: 10px; background-color: Gainsboro">
                {{ form.Data.label(class="ol-sm-2 col-form-label col-form-label-lg") }}
                {{ form.Data(class="form-select form-select-lg") }}
                </div></strong></center>
                <center><strong><div style="border: .5px solid Black; padding: 10px;">
                {{ form.Date.label(class="ol-sm-2 col-form-label col-form-label-lg") }}
                {{ form.Date(class="form-select form-select-lg") }}
                </div></strong></center>
                <br/>
                <strong><div class="d-grid gap-2 col-6 mx-auto ">

                {{ form.Submit(class="btn btn-primary btn-lg")}}
                </div></strong>
            </form>
    </div>
</div></center>


{% endblock %}