{% extends 'base.html'  %}

{% block content %}
<div clas="container">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <span>{{ message }}</span>
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif%}
    {% endwith %}
</div>

{% if id == current_user.id %}


<div class="card">
    <div class="card-body"style="border: .5px solid Black">
        <h1>Update User:</h1>
        <br/>

        <form action="/User_update/{{name_to_update.id}}" method="POST">
            {{ form.hidden_tag() }}

            {{ form.name.label(
            class="form-label") }}

            {{ form.name(
            class="form-control", value=name_to_update.name) }}<br/>

            {{ form.username.label(
            class="form-label") }}

            {{ form.username(
            class="form-control", value=name_to_update.username) }}<br/>

            {{ form.email.label(
            class="form-label") }}

            {{ form.email(
            class="form-control", value=name_to_update.email) }}<br/>


            <br/>

            {{ form.submit(class="btn
            btn-primary") }}
            <br/>

        </form>
         </div>
</div>
<br/><br/><br/>

{% else %}
<div clas="container">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <span>Must Be Your User Account To Edit!</span>
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif%}
    {% endwith %}
</div>
<h2>Access Denied!</h2>
<p>You can't access another users account</p>
{% endif %}

{% endblock %}