<center><h1 style="border: 2px solid black; font-size:65; margin : 0">SHIPPING</h1></center>
<center><h1 style="border: 2px solid black; font-size:65; margin : 0">BATCH # {{JobNumber}}</h1></center>
<center><h1 style="border: 2px solid black; font-size:65; margin : 0">SO: {{SoNumber}}</h1></center>
<center><h1 style="border: 2px solid black; font-size:65; margin : 0">WEIGHT: {{Weight}}</h1></center>
<center><h1 style="border: 2px solid black; font-size:65; margin : 0">DIMMS: {{Dimms}} x {{Dimms2}} x {{Dimms3}}</h1></center>
<center><h1 style="border: 2px solid black; font-size:65; margin : 0">PALLETS:__{{CurrentPallet}}__OF__{{TotalPallets}}__</h1></center>
{% if Data == "YES" %}
<center><h1 style="border: 2px solid black; font-size:65; margin : 0">DATA CONTAINING</h1></center>
{% else %}
<center><h1 style="border: 2px solid black; font-size:65; margin : 0">NO DATA CONTAINING</h1></center>
{% endif %}
<center><h1 style="border: 2px solid black; font-size:70; margin : 0">CHECKED BY: {{ QA }}</h1></center>
<center><h1 style="border: 2px solid black; font-size:70; margin : 0">{{Date }}</h1></center>

{% if UDM or UECM or ECTR or FMCEC or FM  == "y" %}
    <center><h1 style="border: 2px solid black; font-size:70; margin : 0">R2 CONTROLLED STREAM</h1></center>
{% else %}
    <center><h1 style="border: 2px solid black; font-size:70; margin : 0">UNRESTRICTED STREAM</h1></center>
{% endif %}


