<br/>

<center><h1 style="font-size:70:"></h1></center>
<br/>
<center><h1 style="font-size:70:"></h1></center>
<br/>
<center><h1 style="font-size:70:"></h1></center>
<br/>
<center><h1 style="border: 2px solid black; font-size:100; margin : 0">SORT</h1></center>
<center><h1 style="border: 2px solid black; font-size:50; margin : 0">RECEIVED</h1></center>
<center><h1 style="border: 2px solid black; font-size:80; margin : 0">JOB NUMBER - {{JobNumber}}</h1></center>
<center><h1 style="border: 2px solid black; font-size:80; margin : 0">PO - {{PoNumber}}</h1></center>
<center><h1 style="border: 2px solid black; font-size:80; margin : 0 ">{{Date}}</h1></center>
<center><h1 style="border: 2px solid black; font-size:80; margin : 0">WEIGHT - {{Weight}}</h1></center>
<center><h1 style="border: 2px solid black; font-size:50; margin : 0">DATA - YES</h1></center>
<center><h1 style="border: 2px solid black; font-size:50; margin : 0">PRE DATA SANITIZATION</h1></center>