
<center><h1 style="border: 2px solid black; font-size:120; margin : 0">RECEIVED</h1></center>
<center><h1 style="border: 2px solid black; font-size:125; margin : 0">JOB # - {{JobNumber}}</h1></center>
<center><h1 style="border: 2px solid black; font-size:100; margin : 0">PO - {{PoNumber}}</h1></center>
<center><h1 style="border: 2px solid black; font-size:70; margin : 0">WEIGHT - {{Weight}} lbs</h1></center>

{% if Data == "YES" %}
<center><h1 style="border: 2px solid black; font-size:70; margin : 0">DATA CONTAINING</h1></center>
{% else %}
<center><h1 style="border: 2px solid black; font-size:70; margin : 0">NO DATA CONTAINING</h1></center>
{% endif %}
<center><h1 style="border: 2px solid black; font-size:70; margin : 0">PRE DATA SANITIZATION</h1></center>
<center><h1 style="border: 2px solid black; font-size:70; margin : 0 ">PALLETS:__{{CurrentPallet}}__OF__{{TotalPallets}}__</h1></center>
<center><h1 style="border: 2px solid black; font-size:70; margin : 0 ">{{Date}}</h1></center>